<button class="open-button btn-warning" onclick="chaton()"><i class="far fa-comments"></i></button>

      <div class="chat-popup  shadow border bg-white rounded" id="proctorchat">
        <button type="button" class="btn btn-outline-secondary shadow  float-right" onclick="chatoff()"><i class="fa fa-times"></i></button>
   
        <div class="form-container p-2">
         
        <div class="chat" id="chatbot">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="mymsg" placeholder="type your message">
            <div class="input-group-append">
              <button class="btn btn-success" type="button" id="sendbtn"><i class="fa fa-paper-plane"></i></button>
            </div>
          </div>
       
        </div>
      </div>