<nav class="navbar navbar-expand-md navbar-light sticky-top site-header">
  <a class="navbar-brand px-4" href="#">
    <img
      class="d-inline-block align-middle"
      src="/logos/proctored.svg"
      height="24"
      class="d-inline-block align-top"
      alt=""
    />
    <span class="align-middle">Proctored</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item px-4 lin">
        <a class="nav-link" href="#">
          <img
            id="linimg"
            class="d-inline-block align-middle rounded-circle"
            src=""
            height="24"
            alt=""
          />
          <span id="linname" class="align-middle px-1"></span>
        </a>
      </li>
      <li class="nav-item active lout">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item lout">
        <a class="nav-link" href="#features">Features</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item px-4 lin">
        <button
          type="button"
          class="btn btn-outline-light nav-link"
          data-toggle="modal"
          data-target=".bd-example-modal-lg"
        >
          <i class="fas fa-question-circle"></i>
          <span class="align-middle px-1">How to</span>
        </button>
      </li>
      <li class="nav-item px-4 lin">
        <button
          class="btn btn-outline-light nav-link"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          <i class="fas fa-headset text-primary"></i>
          <span class="align-middle px-1 text-primary">New Proctor Room</span>
        </button>
      </li>
      <li class="nav-item px-4 lout">
        <button class="btn btn-outline-light nav-link" id="signup-btn">
          <i class="fas fa-sign-in-alt"></i>
          <span class="align-middle px-1">Sign In</span>
        </button>
      </li>
      <li class="nav-item px-4 lin">
        <button class="btn btn-outline-light nav-link" id="signout-btn">
          <i class="fas fa-sign-out-alt"></i>
          <span class="align-middle px-1">Sign Out</span>
        </button>
      </li>
    </ul>
  </div>
</nav>
