html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans";
  background: #fff;
  color: #121212;
}
.lin,
.lout {
  display: none;
}

.bootstrap-tagsinput .tag {
  background: #121212;
  padding: 0 6px;
  margin-right: 2px;
  color: white;
  border-radius: 4px;
}
.open-button {
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 2px;
  z-index: 9;
}
#myBar {
  box-sizing: border-box;
  background: #1c1c1c;
}
#progress {
  height: 7vh;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  background-color: white;
}

.chat {
  height: 183px;
  width: 100%;
  overflow-x: auto;
  overflow-y: scroll;
}
.chat .left {
  left: 2px;
  text-align: left;
  width: 100%;
}
.chat .right {
  right: 2px;
  width: 100%;
  text-align: right;
}
.chatsub {
  height: 100%;
  align-content: flex-end;
}
.chatinput {
  width: 70%;
  height: 100%;
}
.chatbutton {
  height: 100%;
  width: auto;
}

.xxx .btn {
  border: 1px solid #fff;
  background: #111;
  color: #ccc !important;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  max-height: 80vh;
  overflow-y: auto;
}
.tablinks.active {
  background: #00c851 !important;
  color: #fff !important;
}
.sub {
  background: #00c851 !important;
  color: #fff !important;
  transition: 0.5s;
  height: auto;
}
.sub:hover {
  background: #d3081c !important;
}

#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1999;
  background: #fff;
  border: 2px solid #ff00ff;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 1.8s linear infinite;
  -webkit-animation: loader 1.8s linear infinite;
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}
